body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: grey;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: black;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 20px;
}
